@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Oldenburg", serif;
     font-weight: 400;
    font-style: normal;
    

   

}
html,body{
    width:100%;
    height: 100%;
    background: #ededed;
}

#main{
    width: 100%;
    height: 100%;
    background: #ededed;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 30% 55% 15%;
}

#left-top-left{
   
    padding: 30px;
}
#left-top-right{
    justify-self:right;
    text-align: right;
    padding: 40px;

    
}

#left-top-right h6{
    display: none;
}

#left-top-right h4{
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
    
}

#left-top-right h5{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    line-height: 1.6;
    
}

#left-center{
    grid-column:1/3;
    grid-row: 2/3;

}
#left-center h1{
    font-size: 4vw;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Helvetica;
    padding: 20px;
}


#left-center h1:nth-child(3):after{
    content: '';
    display: inline-block;
    width: 50px;
    height: 7px;
    background-color: black;
    margin-bottom: 20px;
}


#left-center h1:nth-child(2n){
    text-align: center;
}

#left-bottom{
    grid-column: 1/2;
    grid-row: 3/4;
    
}

#left-bottom p{
    font-size: 18px;
    font-weight: 500;   
    line-height: 1.7;
    padding: 20px;
    
}
#right{
    grid-row: 1/4;
    grid-column: 3;
    padding: 40px;
    padding-right: 150px;
}
#right video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:3px ;
    -webkit-border-radius:3px ;
    -moz-border-radius:3px ;
    -ms-border-radius:3px ;
    -o-border-radius:3px ;
}


#square{
    height: 25px;
    width: 25px;
    background-color: black;
    rotate: 30deg;
}


.arrow{
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: orangered;
    color: white;
    padding: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.arrow i{
    font-size: 40px;
    font-weight: 100;
}