@media (max-width: 600px) {
   #main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px 34% 18% 10%;
    }
  
#left-top-left{
    padding: 20px;
}
#left-top-right{
    padding: 20px;    
}

#left-top-right h4{
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
    display: none;
}

#left-top-right h6{
    display: initial;
    font-size: 20px;
}


#left-top-right h5{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    line-height: 1.6;
    display: none;
    
}

#left-center{
    padding: 10px 10px;
}
#left-center h1{
    font-size: 12vw;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Helvetica;
    
}


#left-center h1:nth-child(3):after{
    content: '';
    display: inline-block;
    width: 60px;
    height: 12px;
    background-color: black;
    margin-bottom: 12px;
}


#left-center h1:nth-child(2n){
    text-align: center;
}

#left-bottom{
    padding: 100px 20px;
    grid-column: 1/3;
    grid-row: 3/4;
    
}

#left-bottom p{
    font-size: 22px; 
    line-height: 1.2;
    padding: 15px 20px;
    
}
#right{
    grid-row: 1/4;
    grid-column: 3;
    padding: 40px;
    padding-right: 150px;
}
#right video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:3px ;
    -webkit-border-radius:3px ;
    -moz-border-radius:3px ;
    -ms-border-radius:3px ;
    -o-border-radius:3px ;
}


#square{
    height: 15px;
    width: 15px;
    background-color: black;
    rotate: 30deg;
}


.arrow{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: orangered;
    color: white;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.arrow i{
    font-size: 20px;
    font-weight: 100;
}
   
    #right{
        height: 100%;
        width: 100%;
        grid-column: 1/4;
        grid-row: 5;
        padding: 20px;
   }
     
}








@media (max-width: 400px) {
   #main{
        width: 100%;
        height: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20px 30% 20% 10%;
    }
  

#left-top-right h4{
    display: none;
}

#left-top-right h6{
    display: initial;
    font-size: 30px;
}


#left-center h1:nth-child(3):after{
    content: '';
    display: inline-block;
    width: 60px;
    height: 5px;
    background-color: black;
    margin-bottom: 5px;
}



#left-top-right h5{
    display: none;
}

#left-center{
    grid-column:1/3;
    grid-row: 2/3;
    padding: 5px 5px;
}

#left-center h1{
    font-size: 5vw;
}


#left-bottom{
    padding: 40px 30px;
    grid-column: 1/3;
    grid-row: 3/4;
}

#left-bottom p{
    font-size: 22px; 
    line-height: 1.2;
    padding: 15px 20px;
    
}
#right{
    grid-row: 1/4;
    grid-column: 3;
    padding: 40px;
    padding-right: 150px;
}
#right video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:3px ;
    -webkit-border-radius:3px ;
    -moz-border-radius:3px ;
    -ms-border-radius:3px ;
    -o-border-radius:3px ;
}


#square{
    height: 15px;
    width: 15px;
    background-color: black;
    rotate: 30deg;
}


.arrow{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: orangered;
    color: white;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.arrow i{
    font-size: 20px;
    font-weight: 100;
}
   
    #right{
        height: 100%;
        width: 100%;
        grid-column: 1/4;
        grid-row: 5;
        padding: 20px;
   }
     
}